<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Frotor-SM33{% endblock %}</title>
        
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<meta name="keywords" content="bitcoin,btc,rotator,faucest">
	<meta name="description" content="Faucests rotator">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


{#
	 <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
#}

	<link rel="icon" type="image/png" href="{{ asset('images/bitcoin.png') }}" />

	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	
	
	<link rel="stylesheet" href="{{ asset('css/rotor.css') }}">
	<script type="text/javascript" src="{{ asset('js/rotor.js') }}"></script>
	
<!-- 
	<link href="/image/bitcoin.png" type="image/png" rel="icon">
	<link rel="stylesheet" href="/css/rotor.css">
	<script type="text/javascript" src="/js/rotor.js"></script>
 -->
        
        {% block stylesheets %}{% endblock %}
       
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
